.wrapper {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #b8b8b8;
  border-radius: 15px;
  background: #fafafa;
  z-index: 4;
  @media (max-width: 500px) {
    left: 0px;
    margin: 0px 10px;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #282828;
  opacity: 0.7;
  z-index: 3;
}